.about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;


    &__item {
        display: grid;
        grid-template-columns: 1fr 2.5fr;
        width: 100%;
        padding: 0 5%;
        
        .about__menu {
            position: sticky;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: rgb(254,254,254,.12);
            padding:  1rem 2%;
            border-radius: 0 0 2rem 2rem;
            box-shadow: 3px 3px 10px rgb(0,0,0);
            height: 70vh;

            &:hover {
                box-shadow: 3px 3px 10px rgb(255,0,86);
            }
        }
        .about__content {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            padding: 2% 5%;
            height: 100%;
        }
    }
}

//menu
.menu {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;

    li {
        text-align: center;
        margin: .8rem 0;

        a {
            font-size: calc($size * 1.4);

            &:hover {
                text-shadow: 3px 3px 1px rgb(255,0,86);
            }
        }
    }
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


//___Who Am I___
.who-am-i {
    position: relative;

    .color {
        background: rgb(255,0,86);
            background: linear-gradient(145deg, rgba(255,0,86,.7) 0%, rgba(255,209,55,.8) 50%, rgba(0,116,255,.7) 100%);
            position: absolute;
            width: 100%;
            height: 100%;
            min-width: 50%;
            min-height: 50%;
            filter: blur(100px);
            background-attachment: fixed;
            background-position: center;
    }

    .who-am-i__start {
        position: relative;

        .who-am-i__social {
            position: absolute;
            bottom: 10%;
            right: 0%;

            display: flex;
            flex-direction: column;
            align-items: center;

            span {
                display: block;
                content: " ";
                width: .5rem;
                height: 4rem;
                margin: 1rem 0;
                background-color: $back;
            }
        }

        h1 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
    
            p {
                margin: 5% 0 0 0;
                font-size: calc($size*1.2);
    
                // background: rgb(255,0,86);background: linear-gradient(145deg, rgba(255,0,86,1) 0%, rgba(255,209,55,1) 50%, rgba(0,116,255,1) 100%);
                // -webkit-background-clip: text;
                // background-clip: text;
                // color: transparent;
                color: $back
            }
    
            img {
                max-width: 40%;
                height: 40%;
                margin: 2rem 0 ;
                object-fit: cover;
    
                border-radius:  100% 100% 0 0;
                box-shadow: 0 0 1px 7px ;
                filter: brightness(80%);
            }
        }
    }

    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin:10% 0 20% 0;

        p {
            text-align: center;
            text-shadow: 3px 3px 1px $black;
        }
        &__static {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            align-items: center;
            margin: 2% 0;

            span {
                padding: 4% ;
                margin: 0 2%;
                background-color: black;
                border-radius: 10%;

                h2 {
                    text-align: center;
                    font-size: calc($size *2);
                }
            }
        }
    }
} 

//whatiused__names
.whatiused{
    position: relative;

    &__names {
        width: 100%;
        margin: 5rem 0;
        position: relative;


        .one {
            margin: 4rem 5rem;
        }
        p {
            background-color: rgb(0,0,0,.2);
            padding: 1rem 3rem ;
            border-radius: 0 5rem 0 5rem;
            margin: .8rem 0rem;

            &:hover {
                background-color: rgb(32,32,32,.6);
            }
        }
        .right {
            position: relative;
            left: 20%;
        }
        .left {
            position: relative;
            right: 20%;
        }
    }
}

@media screen and (max-width: $mobile) {
    .about__menu {
        display: none;
        visibility:hidden;
        background-color: rgb(0,0,0,0);
        color: rgb(0,0,0,0);
        opacity: 0;
    }
    .menu {
        display: none;
    }

    //for link
    .right {
        position: relative;
        left: 0%;
    }
    .left {
        position: relative;
        right: 0%;
    }

    .whatiused{
        display: none;
    }
}